# python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# venv stuff
venv/
env/
ENV/
.venv

# ide stuff
.vscode/
.idea/
*.swp
*.swo
*~

# stuff for models
models/*.pkl
models/*.joblib

# model/train logs
*.log

# os stuff
.DS_Store
Thumbs.db

# data (manually download/call API)
data/

# jupyter stuff
.ipynb_checkpoints
